---
import "../styles/global.css"

export interface Props {
  title?: string
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>📸</text></svg>" />
    <title>Shiro's Gallery</title>
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>
